@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;

    background: #17141d;
    color: white;

    font-family: 'DM Sans', sans-serif;
}

.card-list{
    display: flex;
    padding: 3rem;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;

    height: 300px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 20px;
    background: #17141d;

    box-shadow: -1rem 0 3rem black;
}